{{ define "footer" }}
<footer class="bg-slate-900 text-white body-font">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-white text-sm text-center sm:text-left">
            © 2024 <a href="https://github.com/stuartaccent/gin-boilerplate" class="text-gray-400 ml-1" target="_blank">Stuart George - Accent Design Group Ltd</a>
        </p>
    </div>
</footer>
{{ end }}