{{ define "meta" }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="htmx-config" content='{"includeIndicatorStyles":false}'>
{{ end }}

{{ define "css" }}
<link rel="stylesheet" href="/static/css/main.min.css" />
{{ end }}

{{ define "js" }}
<script src="/static/js/htmx.min.js"></script>
{{ end }}